## Importação dos dados

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Curso_Logistica/dataset_trat.csv',sep=';')
df.head()

   ID   SAFRA  LIMIT_BAL  SEX  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  default
0   1  200510      20000    2  ...         0         0         0        1
1   2  200510     120000    2  ...      1000         0      2000        1
2   3  200510      90000    2  ...      1000      1000      5000        0
3   4  200510      50000    2  ...      1100      1069      1000        0
4   5  200510      50000    1  ...      9000       689       679        0

[5 rows x 26 columns]

## Transformações

In [ ]:
df['SUM_BILL'] = df['BILL_AMT1'] + df['BILL_AMT2'] + df['BILL_AMT3'] + df['BILL_AMT4'] + df['BILL_AMT5'] + df['BILL_AMT6']   
df['AVG_BILL'] = df['SUM_BILL'] / 6
df['max_BILL'] = df[['BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6']].max(axis=1)

df['SUM_PAY'] = df['PAY_AMT1'] + df['PAY_AMT2'] + df['PAY_AMT3'] + df['PAY_AMT4'] + df['PAY_AMT5'] + df['PAY_AMT6']
df['AVG_PAY'] = df['SUM_PAY'] / 6
df['max_PAY'] = df[['PAY_AMT1', 'PAY_AMT2', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5','PAY_AMT6']].max(axis=1)

In [ ]:
df.head()

   ID   SAFRA  LIMIT_BAL  SEX  ...  max_BILL  SUM_PAY      AVG_PAY  max_PAY
0   1  200510      20000    2  ...      3913      689   114.833333      689
1   2  200510     120000    2  ...      3455     5000   833.333333     2000
2   3  200510      90000    2  ...     29239    11018  1836.333333     5000
3   4  200510      50000    2  ...     49291     8388  1398.000000     2019
4   5  200510      50000    1  ...     35835    59049  9841.500000    36681

[5 rows x 32 columns]

## Divisão do conjunto de dados

In [ ]:
OOT = df.loc[df['SAFRA'] >= 200605 ]
OOT['SAFRA'].groupby(OOT['SAFRA']).count()

SAFRA
200605    3000
200606    3000
200607    3000
Name: SAFRA, dtype: int64

In [ ]:
DEV = df.loc[df['SAFRA'] < 200605 ]
DEV['SAFRA'].groupby(DEV['SAFRA']).count()

SAFRA
200510    3000
200511    3000
200512    3000
200601    3000
200602    3000
200603    3000
200604    3000
Name: SAFRA, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(DEV.drop(columns=['default']), DEV['default'] ,test_size=0.3, random_state=123)

In [ ]:
X_train['SAFRA'].groupby(X_train['SAFRA']).count()

SAFRA
200510    2103
200511    2124
200512    2110
200601    2081
200602    2075
200603    2102
200604    2105
Name: SAFRA, dtype: int64

In [ ]:
X_test['SAFRA'].groupby(X_test['SAFRA']).count()

SAFRA
200510    897
200511    876
200512    890
200601    919
200602    925
200603    898
200604    895
Name: SAFRA, dtype: int64