<a href="https://colab.research.google.com/github/sergiocarvalho-estatistico/credit_risk_with_python/blob/master/dataexplorer/dataprep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Concessão de Crédito

##### Preparação, Manipualação e Exploração dos dados

## Objetivos

* Tipo de variáveis
    * Inteiras ou discretas:
    * Numéricas ou double
    * Categóricas
    * Qualitativas
    * Qualidade dos dados
        * Quantidade de NA’s por variável
* Criação de novas variáveis, se precisar
* Transformação das variáveis, se precisar

## Conjunto de Dados de Teste

Importando um dataset com Pandas

In [0]:
import pandas as pd
import pandas_profiling

In [30]:
# Read dataset

file_name = "https://raw.githubusercontent.com/sergiocarvalho-estatistico/credit_risk_with_python/master/dados/dataset.csv"
df = pd.read_csv(file_name)
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

Removendo a coluna **Loan_ID**

In [31]:
df = df[df.columns[1::]] 
df.head()

  Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
0   Male      No          0  ...            1.0         Urban            Y
1   Male     Yes          1  ...            1.0         Rural            N
2   Male     Yes          0  ...            1.0         Urban            Y
3   Male     Yes          0  ...            1.0         Urban            Y
4   Male      No          0  ...            1.0         Urban            Y

[5 rows x 12 columns]

## Tipos de Variáveis

Quais são as variáveis categóricas e numéricas no dataframe

In [32]:
df.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

Consideramos que as variáveis 

* Gender
* Marride
* Dependents
* Education
* Self_Employed
* Property_Area
* Loan_Status

apresentadas como objectos são categóricas

In [0]:
df['Gender'] = pd.Categorical(df.Gender)
df['Married'] = pd.Categorical(df.Married)
df['Dependents'] = pd.Categorical(df.Dependents)
df['Education'] = pd.Categorical(df.Education)
df['Self_Employed'] = pd.Categorical(df.Self_Employed)
df['Property_Area'] = pd.Categorical(df.Property_Area)
df['Loan_Status'] = pd.Categorical(df.Loan_Status)

## Qualidade dos Dados 

Será que há variáveis com valores nulos?

In [18]:
df.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

data["Gender"].fillna("No Gender", inplace = True)

In [28]:
df.Loan_Status

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object