<a href="https://colab.research.google.com/github/sergiocarvalho-estatistico/credit_risk_with_python/blob/master/dataexplorer/dataprep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Concessão de Crédito

##### Preparação, Manipualação e Exploração dos dados

## Objetivos

* Tipo de variáveis
    * Inteiras ou discretas:
    * Numéricas ou double
    * Categóricas
    * Qualitativas
    * Qualidade dos dados
        * Quantidade de NA’s por variável
* Criação de novas variáveis, se precisar
* Transformação das variáveis, se precisar

## Conjunto de Dados de Teste

Importando um dataset com Pandas

In [0]:
import pandas as pd

In [12]:
# Read dataset

file_name = "https://raw.githubusercontent.com/sergiocarvalho-estatistico/credit_risk_with_python/master/dados/dataset.csv"
df = pd.read_csv(file_name)
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]